@media (min-width: 960px) {
  body {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex: 1;
  }

  main > aside {
    order: 3;
    width: 250px;
  }

  main > nav {
    order: 1;
    width: 250px;
  }

  main > .content {
    order: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .deck {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
  }

  .card {
    flex: 1;
  }
}
