<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>My Grocery List</h1>
    <p><a href="/">Home</a></p>
    <ul>
      <% listOfGroceries.forEach(item => { %>
        <li><%= item %></li>
      <% }) %>
    </ul>
  </body>
</html>
